# Build output
target/
**/target/

# OS and Editor
.DS_Store
**/.DS_Store
.vscode/
.idea/
*.iml
*.iws
*.ipr
.settings/
.project
.classpath
.bob/

# Environment / local configs
.env
*.local

# Temporary files & logs
*.log
temp.txt
